.header {
  background-color: #333;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  color: #ff00a6;
  text-shadow: #696666 2px 2px 0.2rem;
  height: 50px;
}

header > h1 {
  margin-bottom: 10;
  font-family: 'Courier New', Courier, monospace;
  padding: 0 20px;
  text-align: center;
  padding-top: 100px;
}

.menu {
  display: block;
  width: fit-content;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  justify-content: center;
  position: fixed;
  height: 30px;
  margin-top: 60px;
  margin-left: auto; /* Center the navigation bar horizontally */
  margin-right: auto; /* Center the navigation bar horizontally */
}

ul {
  list-style-type: none; /* Remove default list styles */
  margin: 10px;
  padding: 10px;
}

li {
  display: inline; /* Display list items horizontally */
  margin-right: 20px; /* Add spacing between items */
}

a {
  text-decoration: none; /* Remove underline from links */
  color: rgb(77, 6, 230); /* Link color */
}

a:hover {
  color: #ccc; /* Change link color on hover */
}

.photo-text-block {
  display: flex; /* Create a flex container */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  height: 200px; /* Just for demonstration */
  border: 2px solid #ff0000;
  font-family: 'Courier New', Courier, monospace;
  font-style: bold;
  padding-top: 100px;
  text-align: center;
}

.imgsize {
  width: 300px;
  height: auto;
  align-items: center;
}

.body-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  color: darkolivegreen;
  padding-top: 100px;
  margin-top: 10px;
  text-align: justify;
}

.body-container {
  padding-top: 50px;
}

.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 100px;
}

.fit-picture {
  width: 250px;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  color: chocolate;
  font-style: italic;
}

.body {
  display: flex;
  display: inline;
  top: 0;
  width: 100%;
  padding-top: 500px;
  margin-top: 500px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: xx-large;
}
